:root {
  --background-primary: rgb(21, 21, 21);
  --background-secondary: rgb(45, 45, 45);
  --border-primary: #333333;
  --text-primary: #f8f7ff;
  --text-secondary: #b0b0b0;
  --text-link: #9146ff;
  --accent-color: #9146ff;
  --button-primary: var(--accent-color);
  --button-primary-hover: #772ce8;
  --button-secondary: #2ecc71;
  --button-secondary-hover: #27ae60;
  --button-danger: #e74c3c;
  --button-danger-hover: #c0392b;
  --background-select: var(--background-secondary);
  --background-select-hover: #3a3a3a;
  --toggle-bg: grey;
  --toggle-bg-checked: #772ce8;
  --toggle-knob: #ffffff;
}
