:root {
  --background-primary: rgb(30, 30, 30);
  --background-secondary: rgb(45, 45, 45);
  --border-primary: #333333;
  --text-primary: #f8f7ff;
  --text-secondary: #b0b0b0;
  --accent-color: #9146ff;
}
